@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700');

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto;
    background-color: white;
    color: #000;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
}

.ui.table thead tr th:hover {
    cursor: pointer;
    text-decoration: underline;
}

label {
    z-index: 0 !important;
}

@keyframes loaded {
    0%   {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
table.ui.table{
    margin: 0;
}
